@page
@model DMRServices.Pages.Orders.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>All Orders</h1>

<p>
    <a asp-page="Create">Create New Order</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].CraetedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].DeliveryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Customer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Order) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CraetedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.LastName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="/CreateOrderLineItem" asp-route-id="@item.ID">Add Product</a>
            </td>
        </tr>
}
    </tbody>
</table>
