@page
@model CoreCrud.Pages.Countries.IndexModel

@{
    ViewData["Title"] = "Index";
}

<img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRbsEpsy8eEVFDYHifL7qrcWB6pxz3Cv5vdKWhVXARywpOjbdPP' style="width:100%;height:500px;" />
</br>
<h1>Countries</h1>

<p>
    <a asp-page="Create">Create New Country</a>
</p>
<table class="table table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Country[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country[0].Continent)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Country) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Continent)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
