@page
@model CoreCrud.Pages.Destinations.IndexModel

@{
    ViewData["Title"] = "Index";
}

<img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTc8F3WmlfJBo8WX4vU7a428j5ZDyT3NoauMKQb23taZQ7SOXEp' style="width:100%;height:500px;" />
</ br>
<h1>Worldwide Destinations</h1>

<p>
    <a asp-page="Create">Create New Destination</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Destination[0].Name)
            </th>
            <th>
                Best timeline to Visit:@Html.DisplayNameFor(model => model.Destination[0].From)
            </th>
            <th>
                Best timeline to Visit:@Html.DisplayNameFor(model => model.Destination[0].To)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destination[0].LongVacationDestination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destination[0].PricePerPerson)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destination[0].FamousPlace)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destination[0].Location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Destination)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.From)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.To)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LongVacationDestination)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PricePerPerson)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FamousPlace)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location.Name)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
