@page
@model DMRServices.Pages.Cases.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details of the Case</h1>
<hr />
<div>    
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Case.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Case.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Case.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Case.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Case.Priority)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Case.Priority)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Case.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Case.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Case.ClosedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Case.ClosedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Case.Customer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Case.Customer.LastName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Case.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
